.carousel
{
  display: flex;
  position: relative;
  width: 70%;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel__inner
{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.carousel__img
{
  width: 100%;
}

.carousel__indicators
{
  display: flex;
  justify-content: space-between;
}

.carousel__indicators i
{
  cursor: pointer;
  font-size: 2.5rem;
}

.carousel__dot
{
  display: inline-block;
  height: 9px;
  width: 9px;
  margin: 0 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #000;
}

.activeSlide
{
  opacity: 1;
  transform: translateX(0);
}

.lastSlide
{
  transform: translateX(-100%);
}

.nextSlide
{
  transform: translateX(100%);
}

@media screen and (max-width: 1024px)
{
  .carousel
  {
    height: 500px;
  }
}

@media screen and (max-width: 768px)
{
  .carousel
  {
    height: 375px;
  }
}

@media screen and (max-width: 480px)
{
  .carousel
  {
    height: 250px;
  }
}

@media screen and (max-width: 320px) 
{
  .carousel 
  {
    height: 175px;
  }
}